{
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-packagejson"
  ],
  "overrides": [
    {
      "files": ["**/.vscode/*.json", "**/tsconfig.json", "**/tsconfig.*.json"],
      "options": {
        "parser": "jsonc"
      }
    }
  ]
}
