:root {
    accent-color: var(--clr-primary);
    ::selection {
        background-color: var(--clr-primary-alpha);
        color: var(--clr-neutral-light);
    }

    --clr-primary:
    hsl(275, 72%, 68%);
    --clr-primary-alpha:
    hsla(275, 72%, 68%, .8);
    --clr-primary-alpha-2:
    hsla(275, 72%, 68%, .3);
    --clr-secondary:
    hsl(249, 50%, 60%);
    --clr-secondary-alpha:
    hsla(249, 50%, 60%, .8);
    --clr-secondary-alpha-2:
    hsla(249, 50%, 60%, .3);
    --clr-neutral:
    hsl(249, 25%, 37%);
    --clr-neutral-light:
    #fff;
    --clr-neutral-light-alpha:
    #fff6;
    --clr-neutral-dark:
    hsl(0, 0%, 13%);

    --clr-sky-1:
    hsl(249, 25%, 37%);
    --clr-sky-2:
    hsl(269, 22%, 55%); 
    --clr-sky-3:
    hsl(316, 42%, 82%); 
    --clr-sky-4:
    hsl(185, 38%, 94%);

    --clr-search-button:
    hsl(316, 47%, 64%);
    --clr-search-button-light:
    hsl(316, 47%, 80%);

    --clr-disabled:
    #757575;
    --clr-text: 
    #777;
    --clr-text-alpha:
    hsla(0, 0%, 13%, .5);
    --clr-text-alpha-2:
    hsla(0, 0%, 13%, .05);
}