:root {
    --clr-primary:
    hsl(275, 72%, 68%);
    --clr-secondary:
    hsl(249, 50%, 60%);
    --clr-neutral:
    hsl(249, 25%, 37%);
    --clr-neutral-light:
    #fff;
    --clr-neutral-light-alpha:
    #fff6;

    --clr-sky-1:
    hsl(249, 25%, 37%);
    --clr-sky-2:
    hsl(269, 22%, 55%); 
    --clr-sky-3:
    hsl(316, 42%, 82%); 
    --clr-sky-4:
    hsl(185, 38%, 94%);

    --clr-search-button:
    hsla(314, 36%, 83%, 1);
}