:root {
    /* Font Family */
    --ff-quicksand:
        'Quicksand', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;

    /* Font Size */
    --fs-sm: 0.85rem;
    --fs-base: 1rem;
    --fs-lg: 1.2rem;
    --fs-huge: 7.5rem;

    /* Font Weight */
    --fw-base: 500;
    --fw-bold: 700;

    /* Semantic Fonts */
    --fontRegularBase: var(--fw-base) var(--fs-base) var(--ff-quicksand);
    --fontRegularLg: var(--fw-base) var(--fs-lg) var(--ff-quicksand);
    --fontBoldBase: var(--fw-bold) var(--fs-base) var(--ff-quicksand);
    --fontBoldLg: var(--fw-bold) var(--fs-lg) var(--ff-quicksand);
    --fontBoldHuge: var(--fw-bold) var(--fs-huge) var(--ff-quicksand);
}
