:root {
    /* Font Family */
    --ff-quicksand:
        'Quicksand', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;

    /* Font Size */
    --fs-sm: 0.85rem;
    --fs-md: 1rem;
    --fs-lg: 1.2rem;
    --fs-xl: 7.5rem;

    /* Font Weight */
    --fw-base: 500;
    --fw-bold: 700;

    /* Semantic Fonts */
    --fontBaseSm: var(--fw-base) var(--fs-sm) var(--ff-quicksand);
    --fontBaseMd: var(--fw-base) var(--fs-md) var(--ff-quicksand);
    --fontBaseLg: var(--fw-base) var(--fs-lg) var(--ff-quicksand);
    --fontBaseXl: var(--fw-base) var(--fs-xl) var(--ff-quicksand);
    --fontBoldSm: var(--fw-bold) var(--fs-sm) var(--ff-quicksand);
    --fontBoldMd: var(--fw-bold) var(--fs-md) var(--ff-quicksand);
    --fontBoldLg: var(--fw-bold) var(--fs-lg) var(--ff-quicksand);
    --fontBoldXl: var(--fw-bold) var(--fs-xl) var(--ff-quicksand);
}
