.cover {
    --rise-time: 1.5s;
    height: 100vh;
    height: 100dvh;
}

.title {
    position: sticky;
    top: 120px;
    left: 50%;

    width: fit-content;
    height: fit-content;

    background-image: 
    linear-gradient(
        to right, 
        var(--clr-title-1),
        var(--clr-title-2)
    );

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: clamp(5rem, 1rem + 10vw, 7rem);
    font-weight: 400;
    font-family: 'Quicksand';
    text-align: center;
    text-shadow: -2px -2px var(--clr-title-shadow);
    letter-spacing: .5rem;

    translate: -50% 0;
    animation: 
        rise-title 
        var(--rise-time) 
        ease-out 
        1 
        forwards;
    /* title_up_down 2.5s ease-in-out infinite */

    z-index: 1;

    &:hover {
        background-image: 
        linear-gradient(
            to right, 
            var(--clr-title-2),
            var(--clr-title-3)
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@keyframes title_up_down {
    0%, 100% {translate: -50% 1rem;}
    50% {translate: -50% -1rem;}
}

.search {
    position: sticky;
    top: min(300px, 40vh);
    left: 50%;

    width: fit-content;
    height: fit-content;

    translate: -50% 0;
    transition: border-radius .5s .2s;
    
    overflow: hidden;
    
    backdrop-filter: blur(20px);
    opacity: .9;

    animation: 
        rise 
        var(--rise-time) 
        ease-out 
        1 
        forwards;
    
    z-index: 2;

    &:focus-within {
        opacity: 1 !important;
    }
}

.search:focus-within, 
.search:hover {
    transition: border-radius .1s;
    border-radius: 1rem;
    box-shadow: 0 0 5px var(--clr-search-button);
    opacity: 1;
}

.search-input {
    width: 0;
    height: 3rem;

    font-size: 1.2rem;
    text-indent: 1.2rem;
    background-color: #fff;
    color: var(--clr-primary);
    outline: none;
    
    transition: .5s;
    
    &:focus,
    .search:hover & {
        width: clamp(12rem, 8rem + 10vw, 15rem);
        transition: .25s;
    }
    
    &::placeholder {
        color: var(--clr-search-button-hover);
    }
}

.search form {
    display: flex;
    align-items: center;
}

.search form button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: grid;
    place-items: center;

    font-size: 1.2rem;
    background-color: var(--clr-search-button);
    cursor: pointer;
    
    transition: 0.2s;
    
    .search:hover &,
    .search:focus-within & {
        border-radius: 0;
        background-color: var(--clr-search-button-hover);
    }
    
    & .icon {
        animation: 
            rise-button
            var(--rise-time)
            ease-out 
            1 
            forwards;
    }
}

.grad {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 100px;

    background: linear-gradient(transparent, var(--clr-cover-shadow));
    
    z-index: 10;
}

@keyframes rise {
    from {translate: -50% 25vh;}
    to {translate: -50%, 0;}
}

@keyframes rise-button {
    0%, 80% {color: transparent}
    100% {color: var(--clr-btn)}
}

@keyframes rise-title {
    0%, 80% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes rise-toggle {
    0%, 80% {opacity: 0;}
    100% {opacity: .4;}
}