.cover {
    --rise-time: 1.5s;
    height: 100vh;
    height: 100dvh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    position: sticky;
    top: 120px;

    background-image: 
        linear-gradient(
            to right, 
            var(--clr-primary),
            var(--clr-secondary)
        );

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 7.5rem;
    font-family: 'Quicksand';
    text-align: center;
    letter-spacing: .25rem;

    animation: 
        rise-show 
        var(--rise-time) 
        ease-out 
        1 
        forwards;

    z-index: 1;
}

.search {
    --height: 3rem;
    --expand-duration: .25s;
    position: sticky;
    top: min(300px, 35vh);

    border-radius: calc(var(--height) / 2);
    overflow: hidden;

    animation: 
        rise 
        var(--rise-time) 
        ease-out 
        1 
        forwards;
    
    z-index: 2;
}

@keyframes rise {
    from { translate: 0 25vh; }
}

.search-form {
    display: flex;
    align-items: center;
    background-color: var(--clr-search-button);
    transition: calc(var(--expand-duration) * 2);
    cursor: text;
    opacity: .75;
    
    &:focus-within,
    .search:hover & {
        padding-left: calc(var(--height) / 8);
        padding-right: calc(var(--height) / 2);
        opacity: 1;
        transition: var(--expand-duration);
        background-color: var(--clr-neutral-light);
    }
}

.search-input {
    width: 0;
    height: var(--height);
    font-size: 1.2rem;
    background-color: var(--clr-search-button);
    color: var(--clr-search-button);
    outline: none;
    
    transition: calc(var(--expand-duration) * 2);
    
    &:focus,
    .search:hover & {
        background-color: var(--clr-neutral-light);
        width: 15rem;
        transition: var(--expand-duration);
    }
    
    &::placeholder {
        color: var(--clr-search-button);
    }
}

.search-icon {
    height: var(--height);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: grid;
    place-items: center;

    font-size: 1.2rem;
    opacity: .75;
    transition: calc(var(--expand-duration) * 2);
    
    .search:hover &,
    .search:focus-within & {
        opacity: 1;
        transition: var(--expand-duration);
        .icon {
            color: var(--clr-search-button);
        }
    }
    
    .icon {
        color: var(--clr-neutral-light);
        transition: all calc(var(--expand-duration) * 2);
        animation: 
            rise-show
            var(--rise-time)
            ease-out 
            1 
            forwards;
    }
}

.search + .hint {
    position: sticky;
    top: min(355px, calc(35vh + 3.5rem));
    
    color: var(--clr-search-button);
    opacity: 0;
    font-size: .75rem;
    text-align: center;
    
    animation: 
        rise-show
        var(--rise-time)
        ease-out 
        1 
        forwards;
    animation-delay: .2s;
    
    z-index: 2;
     
    .search:hover + &,
    .search:focus-within + & {
        opacity: 0 !important;
    }
}

@keyframes rise-show {
    0%, 80% {opacity: 0;}
    100% {opacity: 1;}
}