.cover {
    --rise-time: 1.5s;
    --rise-show-time: 1.75s;
    height: 100vh;
    height: 100svh;
}

.cover-content {
    width: 100%;
    height: 50vh;
    height: 50svh;
    position: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.title {
    background-image: linear-gradient(
        to right,
        var(--clr-primary),
        var(--clr-secondary)
    );

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 7.5rem;
    letter-spacing: 0.25rem;

    animation: rise-show var(--rise-show-time) ease-in 1 forwards;

    z-index: 1;
}

.search {
    --height: 3rem;
    --expand-duration: 0.25s;

    border-radius: calc(var(--height) / 2);
    overflow: hidden;

    animation: rise var(--rise-time) ease-out 1 forwards;

    z-index: 2;
}

@keyframes rise {
    from {
        translate: 0 25vh;
        translate: 0 25svh;
    }
}

.search-form {
    display: flex;
    align-items: center;
    background-color: var(--clr-search-button-light);
    transition: calc(var(--expand-duration) * 2);
    cursor: text;

    &:focus-within,
    .search:hover & {
        padding-left: calc(var(--height) / 8);
        padding-right: calc(var(--height) / 2);
        opacity: 1;
        transition: var(--expand-duration);
        background-color: var(--clr-neutral-light);
    }
}

.search-input {
    font-family: inherit;
    font-weight: 500;
    width: 0;
    height: var(--height);
    font-size: 1.2rem;
    background-color: var(--clr-search-button-light);
    color: var(--clr-text);
    outline: none;

    transition: calc(var(--expand-duration) * 2);

    &:focus,
    .search:hover & {
        background-color: var(--clr-neutral-light);
        color: var(--clr-text);
        width: 15rem;
        max-width: 75vw;
        transition: var(--expand-duration);
        &::placeholder {
            opacity: 1;
        }
    }

    &::placeholder {
        color: var(--clr-text);
        opacity: 0;
    }
}

.search-icon {
    height: var(--height);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: grid;
    place-items: center;
    opacity: 0.75;

    font-size: 1.2rem;

    .icon {
        color: var(--clr-neutral-light);
        transition: var(--expand-duration);
        animation: rise-show var(--rise-show-time) ease-in 1 forwards;
    }

    .search:hover &,
    .search:focus-within & {
        opacity: 1;
        transition: var(--expand-duration);
        .icon {
            color: var(--clr-disabled);
            opacity: 1;
        }
    }
}

@keyframes rise-show {
    0%,
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
