.cover {
    --rise-time: 1.5s;
    height: 100vh;
    height: 100dvh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    position: sticky;
    top: 120px;
    width: 100%;

    background-image: 
        linear-gradient(
            to right, 
            var(--clr-title-1),
            var(--clr-title-2)
        );

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 7.5rem;
    font-family: 'Quicksand';
    text-align: center;
    text-shadow: -2px -2px var(--clr-title-shadow);
    letter-spacing: .25rem;

    animation: 
        rise-show 
        var(--rise-time) 
        ease-out 
        1 
        forwards;

    z-index: 1;

    &:hover {
        background-image: 
        linear-gradient(
            to right, 
            var(--clr-title-2),
            var(--clr-title-3)
        );
    }
}

.search {
    position: sticky;
    top: min(300px, 35vh);

    border-radius: 50%;
    overflow: hidden;

    backdrop-filter: blur(20px);
    opacity: .9;

    transition: border-radius .5s .2s;

    animation: 
        rise 
        var(--rise-time) 
        ease-out 
        1 
        forwards;
    
    z-index: 2;
    
    &:focus-within, 
    &:hover {
        transition: border-radius .1s;
        border-radius: 1rem;
        box-shadow: 0 0 5px var(--clr-search-button);
        opacity: 1;
    }
}

@keyframes rise {
    from {translate: 0 25vh;}
}

.search form {
    display: flex;
    align-items: center;
}

.search-input {
    width: 0;
    height: 3rem;

    font-size: 1.2rem;
    text-indent: 1.2rem;
    background-color: #fff;
    color: var(--clr-primary);
    outline: none;
    
    transition: .5s;
    
    &:focus,
    .search:hover & {
        width: clamp(12rem, 8rem + 10vw, 15rem);
        transition: .25s;
    }
    
    &::placeholder {
        color: var(--clr-search-button-hover);
    }
}

.search form button {
    width: 3rem;
    aspect-ratio: 1 / 1;

    display: grid;
    place-items: center;

    font-size: 1.2rem;
    background-color: var(--clr-search-button);
    cursor: pointer;
    
    transition: background-color 0.2s;
    
    .search:hover &,
    .search:focus-within & {
        background-color: var(--clr-search-button-hover);
    }
    
    & .icon {
        color: var(--clr-btn);
        animation: 
            rise-show
            var(--rise-time)
            ease-out 
            1 
            forwards;
    }
}

.search + .hint {
    --opacity: .75;

    position: sticky;
    top: min(355px, calc(35vh + 3.5rem));
    
    color: var(--clr-search-button-hover);
    opacity: 0;
    font-size: .75rem;
    text-align: center;
    
    transition: opacity .3s;
    
    animation: 
        rise-show
        var(--rise-time)
        ease-out 
        1 
        forwards;
    animation-delay: .2s;
    
    z-index: 2;
     
    .search:hover + &,
    .search:focus-within + & {
        opacity: 0 !important;
    }
}

@keyframes rise-show {
    0%, 80% {opacity: 0;}
    100% {opacity: var(--opacity, 1);}
}