.link-panel {
    --width: 15rem;
    --indicator-gap: 0.5rem;
    --indicator-width: 2.5rem;
    --link-height: 3.5rem;
    --font-size: var(--fs-lg);
    --height: 100vh;
    --height: 100svh;
}

.trigger {
    --clr-trigger: #52a5;
    position: absolute;
    left: 0;
    padding-left: var(--indicator-gap);

    width: var(--indicator-width);
    height: 100%;

    opacity: 1;
    transition:
        opacity 0.2s 0.2s ease-in,
        translate 0.2s ease-in;

    display: flex;
    align-items: center;

    z-index: 19;

    .indicator {
        width: 0.25rem;
        height: 14rem;

        background-color: var(--clr-trigger);
        backdrop-filter: saturate(1.2) blur(0.5rem);
        border-radius: 0.3rem;
    }

    .icon {
        position: absolute;
        left: 1rem;
        color: transparent;
        fill: var(--clr-trigger);
    }

    &:has(+ :is(.link-tree.expanded, .link-tree:has(:focus-visible))) {
        opacity: 0;
    }

    &.hidden {
        translate: calc(-1 * (var(--indicator-gap) + var(--indicator-width)));
    }
}

.link-tree {
    position: absolute;
    inset: 0;

    width: var(--width);
    height: var(--height);

    display: flex;
    flex-direction: column;
    justify-content: center;

    translate: calc(-1 * var(--width));
    transition: translate 0.2s ease-out;

    z-index: 20;

    opacity: 1;
    pointer-events: all;

    .panel {
        position: absolute;
        inset: 0;
        background-color: var(--clr-neutral-light-alpha);
        border: 1px solid var(--clr-neutral-light-alpha);
        border-left: none;
        backdrop-filter: blur(0.75rem);
        z-index: 9;
        border-radius: 0 1rem 1rem 0;
    }

    .link-panel.hoverEffective:hover &,
    &.expanded,
    &.focus-within {
        translate: 0;
    }

    @media (width < 600px) {
        --width: 10rem;
        --link-height: 2rem;
        --font-size: var(--fs-sm);
        --height: 55svh;
        bottom: calc((100% - var(--height)) / 2);
        top: auto;
    }
}

.category {
    width: var(--width);
    height: var(--link-height);
    padding: 0 1rem;

    transition: 0.25s;
    z-index: 10;

    display: flex;
    align-items: center;

    &::before {
        content: '';
        position: absolute;
        background: linear-gradient(
            to right,
            var(--clr-secondary),
            var(--clr-primary)
        );
        filter: saturate(1.2);
        inset: 0;
        opacity: 0;
        transition: 0.25s;
        width: var(--width);
        height: var(--link-height);
        border-radius: 0 0.5rem 0.5rem 0;
    }

    .hoverEffective &:hover,
    .hoverEffective &:has(+ .links:hover),
    &.selected {
        translate: 1rem;

        &::before {
            width: calc(var(--width) + 1rem);
            translate: -1rem;
            opacity: 0.2;
        }
    }

    .icon {
        position: relative;
        size: var(--font-size);
        left: 1rem;
        color: var(--clr-neutral);
    }

    span {
        position: relative;
        left: 1.75rem;
        font-size: var(--font-size);
        font-weight: var(--fw-bold);
        color: var(--clr-neutral);
    }
}

.links {
    position: absolute;
    inset: 0;

    width: var(--width);
    height: var(--height);
    padding: 1rem 0;
    padding-top: var(--padding, 1rem);

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    translate: calc(var(--width) * -1);
    transition: translate 0.2s 0.1s ease-out;

    z-index: 8;

    .hoverEffective .category:hover + &,
    .category.selected + &,
    .hoverEffective &:hover,
    &:has(:focus-visible) {
        translate: var(--width);
    }

    .panel {
        width: calc(var(--width) * 2);
        height: inherit;
        position: absolute;
        left: -100%;
        background-color: var(--clr-neutral-light-alpha);
        border: 1px solid var(--clr-neutral-light-alpha);
        border-left: none;
        backdrop-filter: blur(0.75rem);
        z-index: 9;
        border-radius: 0 1rem 1rem 0;
    }

    .link {
        --link-margin: 0rem;

        text-decoration: none;
        width: calc(var(--width) - var(--link-margin));
        height: var(--link-height);
        margin: 0 var(--link-margin);
        padding-left: calc(2.5rem - var(--link-margin));

        color: var(--clr-neutral);
        font-size: var(--font-size);
        font-weight: var(--fw-bold);
        background: transparent;

        transition: 0.2s;
        z-index: 10;

        display: flex;
        align-items: center;

        .hoverEffective &:hover,
        &.highlighted {
            text-decoration: none;
            color: var(--clr-secondary);
            background: linear-gradient(
                to right,
                transparent,
                var(--clr-neutral-light-alpha)
            );
        }

        &.disabled {
            color: var(--clr-disabled);
            cursor: not-allowed;
        }
    }

    @media (width < 600px) {
        padding-top: 1rem;
    }
}

.link-tree .hint {
    position: absolute;
    right: 2rem;
    text-align: center;
    font: var(--fontBoldSm);
    color: var(--clr-neutral);
    opacity: 0.75;

    transition: 0.25s;

    &.hidden {
        opacity: 0;
    }

    @media (width < 32rem) {
        opacity: 0;
    }
}
