.links {
    --width: 15rem;
    --indicator-gap: .5rem;
    --indicator-width: 2rem;
    --link-height: 3.5rem;

    position: absolute;
    inset: 0;

    width: var(--width);
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    translate: calc(-1 * var(--width));
    transition: translate .2s ease-out;
    
    z-index: 20;

    opacity: 1;
    pointer-events: all;

    &.hide {
        pointer-events: none;
        & .indicator {
            opacity: 0;
        }
    }

    & .indicator {
        position: absolute;
        left: calc(100% + var(--indicator-gap));
    
        width: .25rem;
        height: 16rem;

        background-color: var(--clr-btn);
        border-radius: .3rem;
        opacity: .5;
    
        transition: translate .1s, opacity .4s ease-in;

        display: flex;
        align-items: center;

        & i {
            position: relative;
            width: 2rem;
            height: 100%;
            display: flex;
            align-items: center;
            left: 1rem;
            font-size: 1.2rem;
            color: var(--clr-btn);
        }
    }
    
    & .filler {
        position: absolute;
        inset: 0;
        background-color: var(--clr-link-filler);
    }
    
    &:hover, 
    & .indicator:hover {
        translate: 0;

        & .indicator {
            translate: 
                calc(
                    (var(--indicator-width) + var(--indicator-gap)) 
                    * -1
                );
            opacity: 0;
        }

        & .filler {
            border-right: 1px solid var(--clr-link-filler-border);
            backdrop-filter: blur(1rem);
            z-index: 9;
        }
    }
}

.sub-links {
    position: absolute;
    inset: 0;

    width: var(--width);
    height: 100vh;
    padding: 1rem 0;
    padding-top: var(--padding, 1rem);
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    
    translate: calc(var(--width) * -1);
    transition: translate .2s .1s ease-out;
    
    z-index: 8;
    
    .link-header:hover + &,
    &:hover {
        translate: var(--width);
    }

    & .filler {
        width: calc(var(--width) * 2);
        height: inherit;
        position: absolute;
        left: -100%;
        background-color: var(--clr-link-filler);
        border-right: 1px solid var(--clr-link-filler-border);
        backdrop-filter: blur(1rem);
        z-index: 9;
    }

    & a {
        --link-margin: 1rem;

        text-decoration: none;
        width: calc(var(--width) - var(--link-margin));
        height: var(--link-height);
        margin: 0 var(--link-margin);
        padding-left: 1.5rem;
        border-radius: 1rem;

        color: var(--clr-secondary);
        font-size: 1.2rem;
        font-weight: bold;
        transition: .2s;
        z-index: 10;
    
        display: flex;
        align-items: center;
        
        &:hover {
            text-decoration: none;
            color: var(--clr-title-2);
        }
    }
}

.link-header {
    width: var(--width);
    height: var(--link-height);
    padding: 0 1rem;
    
    color: var(--clr-secondary);
    transition: .25s;
    z-index: 10;
    
    display: flex;
    align-items: center;
    
    &::before {
        content: '';
        position: absolute;
        background: 
            linear-gradient(
                to right, 
                var(--clr-link-grad-1), 
                var(--clr-link-grad-2)
            );
        inset: 0;
        opacity: 0;
        transition: .25s;
        width: var(--width);
        height: var(--link-height);
        border-radius: 0 .5rem .5rem 0;
    }

    &:hover,
    &:has(+.sub-links:hover) {
        translate: 1rem;

        &::before {
            width: calc(var(--width) + 1rem);
            translate: -1rem;
            opacity: .3;
        } 
    }    
    
    & i {
        position: relative;
        left: 1rem;
        width: 1rem;    
        color: var(--clr-secondary);
    }

    & a {
        position: relative;
        left: 2.5rem;
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--clr-secondary);
    } 
}