footer {
    height: calc(10rem);
    
    background-color: var(--clr-neutral-dark);
    
    display: grid;
    place-items: center;   

    a {
        text-decoration: none;
        color: var(--clr-neutral-light);
        filter: brightness(.8);
        transition: .2s;

        &:hover {
            filter: brightness(1);
        }
    }
}