html {
    background-color: #232323;
    ::-webkit-scrollbar {
        width: 0;
    }
}

body {
    font-family: 'Quicksand', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

footer {
    height: calc(16vh);
    
    background-color: #222;
    
    display: grid;
    place-items: center;   

    a {
        text-decoration: none;
        color: #ddd;
        
        &:hover {
            color: #fff;
        }
    }
}