html {
    background-color: var(--clr-sky-3);
    
    ::-webkit-scrollbar {
        width: 0;
    }

    &::after {
        content: '';
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 50vh;
        background-color: var(--clr-neutral-dark);
        z-index: -1;
    }
}

body {
    font-family: 
        'Quicksand',
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif 
        !important;
}

footer {
    height: calc(10rem);
    
    background-color: var(--clr-neutral-dark);
    
    display: grid;
    place-items: center;   

    a {
        text-decoration: none;
        color: var(--clr-neutral-light);
        filter: brightness(.8);
        transition: .2s;

        &:hover {
            filter: brightness(1);
        }
    }
}