.mobile-warning-overlay {
    position: fixed;
    inset: 0;
    background-color: #0005;
    z-index: 10000;
    display: grid;
    place-items: center;
}

.mobile-warning-dialog {
    background-color: var(--clr-neutral-light);
    padding: 2rem;
    border-radius: 1rem;
    width: 80%;
    position: relative;
}

.mobile-warning-dialog p {
    color: var(--clr-text);
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.mobile-warning-action-btn {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--clr-primary);
    color: var(--clr-neutral-light);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
