.mountains {
    --init-brightness: .8;
    --init-saturation: 1.2;
    
    position: absolute;

    width: 100%;
    height: 100%;
    overflow: hidden; 

    background: 
        linear-gradient(
            var(--clr-sky-1) 0%,
            var(--clr-sky-2) 25%, 
            var(--clr-sky-3) 50%, 
            var(--clr-sky-4) 75%
        );
    background-size: auto 200%;
    background-clip: content-box;
    animation: rise-sky var(--rise-time) ease-out 1 forwards;
}

@keyframes rise-sky {
    to {background-position: center 100%;}
}

.mountains img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    position: absolute;
    inset: 0;
    margin: auto;
    z-index: 3;
    pointer-events: none;

    &:nth-of-type(1) {
        --move-speed: 6;
    }
    &:nth-of-type(2) {
        --move-speed: 5;
    }

    animation-name: rise-mountain, parallax ;
    animation-duration: var(--rise-time), auto;
    animation-timing-function: ease-out, linear;
    animation-timeline: auto, scroll(root);
    animation-range: auto, exit;
}

@keyframes rise-mountain {
    from { filter: 
        brightness(var(--init-brightness)) 
        saturate(var(--init-saturation));
    }
}

@keyframes parallax {
    to { 
        scale: 1 calc(1 - var(--move-speed, 0) * 0.01);
        translate: 0 calc(var(--move-speed, 0) * 1vh); 
    }
}