.mountains {
    --init-brightness: 0.8;
    --init-saturation: 1.2;

    position: absolute;

    width: 100%;
    height: 100%;
    overflow: hidden;

    background: linear-gradient(
        var(--clr-sky-1) 0%,
        var(--clr-sky-2) 25%,
        var(--clr-sky-3) 50%,
        var(--clr-sky-4) 75%
    );
    background-size: auto 200%;
    background-clip: content-box;
    animation: rise-sky var(--rise-time) ease-out 1 forwards;
}

@keyframes rise-sky {
    to {
        background-position: center 100%;
    }
}

html[data-animation-mode='skip'] .mountains {
    background-position: center 100%;
}

.mountains img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    position: absolute;
    inset: 0;
    margin: auto;
    z-index: 3;
    pointer-events: none;

    &.parallax-back {
        --move-speed: 6;
    }

    &.parallax-mid {
        --move-speed: 5;
    }

    animation-name: rise-mountain, parallax;
    animation-duration: var(--rise-time), auto;
    animation-timing-function: ease-out, linear;
    animation-timeline: auto, scroll(root);
    animation-range: auto, exit;
    animation-fill-mode: forwards;
}

:root[data-theme='dark'] .mountains img {
    --init-saturation: 2;
    --init-brightness: 0.2;
    --tone-brightness: 0.5;
    --tone-saturation: 1.5;
}

html[data-animation-mode='skip'] .mountains img {
    animation-name: parallax;
    animation-duration: auto;
    animation-timing-function: linear;
    animation-timeline: scroll(root);
    animation-range: exit;
    animation-fill-mode: forwards;
    filter: brightness(var(--tone-brightness, 1))
        saturate(var(--tone-saturation, 1))
        hue-rotate(var(--mountain-hue-rotate));
}

@keyframes rise-mountain {
    from {
        filter: brightness(var(--init-brightness, 1))
            saturate(var(--init-saturation, 1));
    }

    to {
        filter: brightness(var(--tone-brightness, 1))
            saturate(var(--tone-saturation, 1))
            hue-rotate(var(--mountain-hue-rotate));
    }
}

@keyframes parallax {
    to {
        scale: 1 calc(1 - var(--move-speed, 0) * 0.01);
        translate: 0 calc(var(--move-speed, 0) * 1vh);
        translate: 0 calc(var(--move-speed, 0) * 1svh);
    }
}
