@import './constants/color.css';

* {
    margin: 0;
    padding: 0;
    border: 0;

    box-sizing: border-box;
    user-select: none;
}

html {
    overflow-x: hidden;

    ::-webkit-scrollbar {
        width: 0;
    }

    /* html background for over scroll */
    background-color: var(--clr-sky-3);

    &::after {
        content: '';
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 50vh;
        height: 50svh;
        background-color: var(--clr-neutral-dark);
        z-index: -1;
    }
}

body {
    font-family:
        'Quicksand',
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;

    line-height: 1.5;
}
